@import url(./font.css);
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
:root{
    --Bree: Bree_serif;
    --Dancing: Dancing_script;
    --Lobster: Lobster;
    --formal: Petif_Formal_Script;
    --Roboto: Roboto_Slab;
    --bg-blue: dodgerblue;
    --btn-background:#2b444d;
    --btn-width:290px;
    --btn-padding:10px 15px;
    --right-button-background:rgb(236, 243, 244);
}
.logo a img{
    width: 70px;
    height: 70px;
    margin-left: 10px;
}
.nav-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 15px;
}
.menu ul li{
    display: inline-block;
    padding: 20px 10px;
    font-size: 20px;
    font-weight: bold;
    transition:2s;
    font-family: var(--Lobster);
}
.menu ul li a{
    text-decoration: none;
    color: var(--bg-blue);
    transition: all 2s;
}
.navigation .menu ul li:hover{
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
    border-radius: 10%;
}
.navigation .menu ul li:hover a{
    color: white;
}
.social-icon{
    margin: 20px 10px 0 0;
}
.social-icon a{
    font-size: 20px;
    color: dodgerblue;
    padding: 10px 10px;
    margin-right: 10px;
    transition: all 2s;
}
.social-icon a:hover{
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    color: #f9d423;
    border-radius: 50%;
}
.section1{
    background-image: url(./images/natural.jpg);
    background-position:top bottom;
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;
}
.section-item{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.section-item .heading1{
    font-size: 30px;
}
.section-item .heading2{
    font-size: 40px;
}
.section-item .header{
    padding-top: 20px;
    font-family: var(--Roboto);
}
.section-item .button{
    margin-top: 30px;
    padding: 8px 25px;
    text-decoration: none;
    border-radius: 20px;
    font-size: 20px;
    border: none;
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    transition: all 2s;
}
.section-item .button a{
    text-decoration: none;
    color:black;
    transition: all 2s;
}
.section-item .button:hover{
    background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
    transform: scale(1.1);
}
.section-item .button:hover a{
    color: white;
}
.main div img{
    width: 230px;
    height: 150px;
    border-radius: 10px 10px 0 0;
}
.main{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    gap: 0 120px;
    height: 70vh;
}
.main div h3{
    max-width: 200px;
    position: relative;
    left: 23px;
    padding-top: 30px;
}
.main div{
    box-shadow: 2px 3px 10px rgba(0,0,0,0.5);
    height: 350px;
    border-radius: 10px;
    transition: all 1s;
}
.main div:hover{
    transform: scale(1.1);
}
.main div button{
    margin: 20px 0 0 30%;
    padding: 5px 20px;
    border-radius: 20px;
    border-color: transparent;
    transition: all 1s;
}
.main div button a{
    text-decoration: none;
    color: red;
}
.main p{
    margin: 20px 0 0 36%;
    font-family: var(--Lobster);
    color: #3b3a3a;
}
.main div button:hover{
    background-color: cornflowerblue;
}
.grid-box{
    width: 90%;
    display: grid;
    grid-template-columns: 70% 30%;
    margin: 0 auto;
    column-gap: 30px;
}
.grid-box .grid1 .grid-image{
    max-width: 900px;
    max-height: 500px;
    overflow: hidden;
}
.grid-box .grid1 .grid-image #image1{
    width: 900px;
    height: 500px;
    transition: all 1s;
}
.grid-box .grid1 .grid-image:hover #image1{
    transform: scale(1.5);
}
.grid-box .grid3 .grid3-image{
    max-width: 350px;
    max-height: 200px;
    overflow: hidden;
}
.grid-box .grid3 .grid3-image #image2{
    width: 350px;
    height: 200px;
    /* margin-left: 30px; */
    transition: transform 1s;
}
.grid-box .grid3 .grid3-image #image2:hover{
    transform: scale(1.4);
}
.grid-box .grid1 .img-btn i,p{
   display: inline-block;
   font-size: 12px;
   text-transform: capitalize;
   font-weight: bold;
}
.grid-box .grid1 .img-btn i,#para{
    margin-left: 10px;
}
.grid-box .grid1 .img-btn{
    width: var(--btn-width);
    padding: var(--btn-padding);
    background-color: var(--btn-background);
    position: relative;
    top: -50px;
    left:30%;
    border-radius: 20px;
}
.grid1{
    grid-row: 1/3;
    display: grid;
    row-gap: 30px; 
}
.grid1 h3{
    font-weight: bold;
    font-size: 25px;
    max-width: 800px;
    font-family: var(--Bree);
}
.grid1 a{
    text-decoration: none;
    font-size: 15px;
    width: 130px;
    background-image: linear-gradient(to left bottom, #1fc7ee, #47cfed, #61d6ec, #78ddec, #8de4ec, #8ee6ed, #8fe7ee, #90e9ef, #7ce6f0, #66e3f2, #48dff5, #0ddcf8);
    padding: 10px 0 10px 20px;
    color: black;
    transition: all 1s;
}
.grid1 a:hover{
    transform: scale(1.1);
    border-radius: 10px;
}
 .grid1 a .fa-sharp{
    position: relative;
    left: 5px;
    top: 2px;
 }
.grid2 .btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
}
.grid2 #heading{
    font-size: 30px;
    font-family: var(--Roboto);
}
.grid2 #heading2{
    font-size: 30px;
    margin-top: 30px;
    font-family: var(--Roboto);
}
.grid2 .btn button{
    width: 300px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    border-radius: 20px;
    cursor: pointer;
    background-image: linear-gradient(to left bottom, #1fc7ee, #47cfed, #61d6ec, #78ddec, #8de4ec, #8ee6ed, #8fe7ee, #90e9ef, #7ce6f0, #66e3f2, #48dff5, #0ddcf8);
    border: none;
    transition: transform 1s;
}
.grid2 .btn button:hover{
    transform: scale(1.1);
}
.grid2 .btn button a{
    text-decoration: none;
    font-size: 15px;
    cursor: none;
    color: black;
}
.grid3 .grid3-btn .fa-calendar-days,.para2{
    font-size: 12px;
    font-weight: bold;
}
.grid3 .grid3-btn .paragraph{
    margin-left: 5px;
}
.grid-box .grid3-btn{
    width: 180px;
    background-color: var(--right-button-background);
    padding: 8px 4px;
    position: relative;
    top: -25px;
}
.grid3 #bottom-heading{
    max-width: 360px;
    font-weight: bold;
    font-family: var(--formal);
}
.section3{
    width: 90%;
    display: grid;
    grid-template-columns: 70% 30%;
    margin: 40px auto;
    column-gap: 30px;
}
.section3 .grid-box1{
    grid-row: 1/3;
}
.section3 .grid-box1 .grid-item1 .image-box{
    max-width: 900px;
    max-height: 500px;
    overflow: hidden;
}
.section3 .grid-box1 .grid-item1 .image-box img{
    width: 900px;
    height: 500px;
    transition: transform 1s;
}
.section3 .grid-box1 .grid-item1 .image-box img:hover{
    transform: scale(1.5);
}
.section3 .grid-box2 .right-item .right-top-image{
    max-width: 350px;
    max-height: 200px;
    overflow: hidden;
}
.section3 .grid-box2 img{
    width: 350px;
    height: 200px;
    transition: transform 1s;
}
.section3 .grid-box2 img:hover{
    transform: scale(1.4);
}
.section3 .grid-box3 .right-item .right-bottom-image{
    max-width: 350px;
    max-height: 200px;
    overflow: hidden;
}
.section3 .grid-box3 img{
    width: 350px;
    height: 200px;
    transition: transform 1s;
}
.section3 .grid-box3 img:hover{
    transform: scale(1.4);
}
.section3 .grid-box1 .grid-item1 .date-btn i,p{
    font-size: 12px;
    text-transform: capitalize;
    font-weight: bold;
}
.section3 .grid-box1 .grid-item1 .date-btn i{
    margin-left: 5px;
}
.section3 .grid-box1 .grid-item1 .date-btn{
    background-color: var(--btn-background);
    width: var(--btn-width);
    padding: var(--btn-padding);
    border-radius: 20px;
    position: relative;
    top: -20px;
    left: 32%;
}
.section3 .grid-box1 .grid-item2{
    display: grid;
    row-gap: 30px;
}
.grid-item2 #grid-item2-heading{
    font-weight: bold;
    font-size: 25px;
    max-width: 800px;
    font-family: var(--Bree);
}
.grid-item2 a{
    text-decoration: none;
    font-size: 15px;
    width: 130px;
    background-image: linear-gradient(to left bottom, #1fc7ee, #47cfed, #61d6ec, #78ddec, #8de4ec, #8ee6ed, #8fe7ee, #90e9ef, #7ce6f0, #66e3f2, #48dff5, #0ddcf8);
    padding: 10px 0 10px 20px;
    color: black;
    transition:all 1s ;
}
.grid-item2 a i{
    position: relative;
    left: 5px;
    top: 2px;
}
.grid-item2 a:hover{
    transform: scale(1.1);
    border-radius: 10px;
}
.section3 .right-button #button-para{
    margin-left: 5px;
}
.section3 .right-button i,p{
    font-size: 12px;
    font-weight: bold;
}
.section3 .right-button{
    width: 180px;
    padding: 8px 4px;
    background-color: var(--right-button-background);
    position: relative;
    top: -20px;
}
.section3 h3{
    max-width: 100%;
    font-weight: bold;
    font-family: var(--formal)
}
.section3 .right-top-content h3{
    font-size: 30px;
    font-weight: bold;
    font-family: var(--Roboto);
}
.section3 .right-bottom-content h3{
    font-size: 30px;
    font-weight: bold;
    font-family: var(--Roboto);
}
.section3 .right-top-content .email-button{
    margin: 30px 0 0 30px;
}
.section3 .right-top-content .subscribe-btn{
    margin: 40px 0 0 30px;
}
.subscribe-btn a{
    text-decoration: none;
    padding: 10px 30px;
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}